<div class="print-area-parent">
  <div class="button-panel">
    <button (click)="print()">Print Yellow Section Below</button>
  </div>
  <div class="printarea">
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
    <p>Hier ist mega viel Content</p>
  </div>
</div>
